@font-face {font-family: "iconfont";
  src: url('https://at.alicdn.com/t/font_1552062_qvuq8540rh7.ttf') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e6cd";
}

.icon-chongmingming:before {
  content: "\e705";
}

.icon-fenxiang-1:before {
  content: "\e60b";
}

.icon-file-b-:before {
  content: "\e652";
}

.icon-file-b-1:before {
  content: "\e653";
}

.icon-file-b-2:before {
  content: "\e654";
}

.icon-file-b-3:before {
  content: "\e655";
}

.icon-file-b-4:before {
  content: "\e656";
}

.icon-file-b-5:before {
  content: "\e658";
}

.icon-file-b-6:before {
  content: "\e659";
}

.icon-file-b-7:before {
  content: "\e65a";
}

.icon-file-b-8:before {
  content: "\e65b";
}

.icon-file-b-9:before {
  content: "\e65c";
}

.icon-file-b-10:before {
  content: "\e65d";
}

.icon-file-b-11:before {
  content: "\e65e";
}

.icon-file-b-12:before {
  content: "\e65f";
}

.icon-file-b-13:before {
  content: "\e660";
}

.icon-file-b-14:before {
  content: "\e661";
}

.icon-file-b-15:before {
  content: "\e662";
}

.icon-file-b-16:before {
  content: "\e663";
}

.icon-file-b-17:before {
  content: "\e664";
}

.icon-file-b-18:before {
  content: "\e665";
}

.icon-file-b-19:before {
  content: "\e666";
}

.icon-file-s-:before {
  content: "\e667";
}

.icon-file-s-1:before {
  content: "\e668";
}

.icon-file-s-2:before {
  content: "\e669";
}

.icon-file-s-3:before {
  content: "\e66a";
}

.icon-file-s-4:before {
  content: "\e66b";
}

.icon-file-s-5:before {
  content: "\e66c";
}

.icon-file-s-6:before {
  content: "\e66d";
}

.icon-file-s-7:before {
  content: "\e66e";
}

.icon-file-s-8:before {
  content: "\e66f";
}

.icon-file-s-9:before {
  content: "\e670";
}

.icon-file-s-10:before {
  content: "\e671";
}

.icon-file-s-11:before {
  content: "\e672";
}

.icon-file-s-12:before {
  content: "\e673";
}

.icon-file-s-13:before {
  content: "\e674";
}

.icon-file-s-14:before {
  content: "\e675";
}

.icon-file-s-15:before {
  content: "\e676";
}

.icon-file-s-16:before {
  content: "\e677";
}

.icon-file-s-17:before {
  content: "\e678";
}

.icon-file-s-18:before {
  content: "\e679";
}

.icon-file-s-19:before {
  content: "\e67a";
}

.icon-file-s-20:before {
  content: "\e67b";
}

.icon-wode:before {
  content: "\e657";
}

.icon-chuanshuliebiao:before {
  content: "\e612";
}

.icon-shanchu:before {
  content: "\e64a";
}

.icon-kaishi:before {
  content: "\e613";
}

.icon-zanting:before {
  content: "\e614";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-xuanze-yixuan:before {
  content: "\e67c";
}

.icon-zengjia:before {
  content: "\e684";
}

.icon-gengduo:before {
  content: "\e6fc";
}

.icon-xiazai:before {
  content: "\e723";
}

.icon-yun:before {
  content: "\e6cf";
}
